.company-box-component {
  display: flex;
  align-items: center;
  gap: 16px;

  background-color: var(--background);

  padding: 16px;

  border-radius: 8px;

  height: 100px;

  cursor: pointer;

  box-shadow: 0 8px 20px -2px var(--shadow);
}

.company-box-component.on-fav-list {
  width: 100%;
}

.company-box-component .fav-button {
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}

.company-box-component .star-icon {
  color: var(--primary-color);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.company-box-component .description {
  width: 140px;
}

.company-box-component .description p {
  color: var(--gray2);
}

.company-box-component .status {
  display: flex;
  gap: 7px;

  min-width: fit-content;
}

.company-box-component .status p.negative {
  color: var(--danger-color);
}

.company-box-component .status p.positive {
  color: var(--success-color);
}
